/* Shared styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}

/* header styles */
.header-content {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Banner-image.png");
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  width: 100%;
  max-width: 1320px;
  margin: 50px auto 0;
  text-align: center;
}
.header-content h3 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  padding-top: 177px;
}
.header-content h2 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  padding-top: 16px;
  padding-bottom: 177px;
}

/* main section styles */

/* holiday deal section styles */
.holiday-deal-sec {
  text-align: center;
  max-width: 802px;
  width: 100%;
  margin: 120px auto 48px;
}
.holiday-deal-sec-content h1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
}
.holiday-deal-sec-content p {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  padding: 48px 0 16px;
}
.holiday-deal-sec-content h2 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.holiday-deal-sec-image {
  margin-top: 48px;
}

/* midnight section styles */
.midnight-section {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/midnight-party-cover.png");
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  max-width: 1320px;
  width: 100%;
  /* height: 82vh; */
  margin: 120px auto;
  text-align: center;
}
.midnight-section-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.midnight-section-content {
  text-align: left;
  padding-left: 126px;
  width: 50%;
}
.midnight-section-content h2 {
  color: #fff;
  font-family: Merriweather;
  font-size: 55px;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
}
.midnight-section-content p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  padding: 24px 0;
}
.midnight-section-content button {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  background-color: transparent;
  border: none;
  padding: 24px 32px;
}
.midnight-section-image {
  width: 50%;
  padding: 68px 138px 68px 0;
}
/* location section styles */
.location-section {
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(187, 27, 27, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  border-radius: 16px;
  padding: 100px 0 110px;
}
.location-section span {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.location-section p {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.location-section button {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  background: #f00;
  padding: 16px 32px;
  border: none;
  margin: 18px;
  cursor: pointer;
}

/* new year offer section styles */
.new-best-offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  width: 100%;
  max-width: 1320px;
  margin: 120px auto;
  text-align: left;
}
.new-best-offer-col {
  width: 33.33%;
}
.new-best-offer-col h3 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.new-best-offer-col h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 45px;
  font-weight: 900;
  padding: 16px 0 22px;
}
.new-best-offer-col p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 43px;
}
.new-best-offer-col h4 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 16px;
}
.new-year-center-img {
  border: 15px solid #f00;
  padding: 50px;
  border-width: 100%;
  border-radius: 463px;
}
#new-year-col-3 {
  padding-left: 118px;
}

/* Holiday section styles */
.holiday-sale {
  width: 100%;
  max-width: 1320px;
  margin: 120px auto;
}
.holiday-sale-content {
  text-align: center;
}
.holiday-sale-content h3 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.holiday-sale-content h2 {
  color: #f00;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  padding: 16px 0 28px;
}
.holiday-sale-content span {
  color: #070211;
}
.holiday-sale-content p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px; /* 160% */
  max-width: 73%;
  margin: 0 auto;
  padding-bottom: 64px;
}
/* holiday sale image grid section */
.holiday-sale-images {
  display: flex;
  justify-content: space-around;
  align-items: start;
  background: url("../images/holiday-sale-girl.png"),
    url("../images/holiday-sale-base.png"),
    lightgray -59.98px 0px / 151.553% 100%;
  width: 100%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right top, bottom;
  gap: 15px;
}
.holiday-sale-images-col-1 {
  width: 55%;
}
.holiday-sale-images-col-2 {
  width: 45%;
  padding-top: 77px;
}

/* portfolio section styles */
.portfolio-section {
  width: 100%;
  max-width: 1320px;
  margin: 120px auto;
}
.portfolio-section-content h4 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.portfolio-section-content h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  padding: 16px 0 22px;
}
.portfolio-section-content p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
  max-width: 56%;
}
.portfolio-section-images-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 24px;
  padding-top: 48px;
}
/* portfolio section hover effect */
.box {
  cursor: pointer;
}

/* newslatter section styles */
.newslatter-section {
  width: 100%;
  /* height: 82vh; */
  max-width: 1320px;
  margin: 120px auto;
  text-align: center;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  padding: 80px 0;
}
.newslatter-section h3 {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  padding: 40px 0 22px;
}
.newslatter-section p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  max-width: 56%;
  margin: 0 auto;
}
form {
  margin: 48px;
}
form input[type="email"] {
  color: rgba(7, 2, 17, 0.3);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  padding: 25px 267px 25px 35px;
  border: none;
  border-radius: 50px 0 0 50px;
  background: #fff;
  outline: none;
}
form input[type="button"] {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  padding: 24px 56px;
  cursor: pointer;
}

/* footer section styles */
footer {
  width: 100%;
  max-width: 1600px;
  margin: 120px auto;
  background-color: #070211;
}
.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 120px 0 50px;
  color: #fff;
}
.footer-content p {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}
.footer-content ul {
  list-style-type: none;
}
.footer-content ul li {
  display: flex;
  width: 100%;
  justify-content: left;
  align-items: center;
  gap: 16px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}
hr {
  max-width: 1320px;
  margin: 0 auto;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}
.social-links-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 48px 0;
  cursor: pointer;
}
.copyright-section {
  display: flex;
  justify-content: space-between;
  color: #fff;
  max-width: 1320px;
  margin: 0 auto;
  padding: 50px 0 200px;
}
.copyright-section p {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
