/* Shared styles */

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}

/* header styles */
.header-content {
  background-image: url("../images/Banner-image.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 82vh;
  max-width: 1320px;
  margin: 50px auto 0;
  text-align: center;
}
.header-content h3 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
