/* Shared styles */

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}

/* header styles */
.header-content {
  background-color: rgb(255, 0, 140);
  background-position: center;
  background-size: cover;
}
