/* Shared styles */

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}

/* header styles */
.header-content {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Banner-image.png");
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  width: 100%;
  /* height: 82vh; */
  max-width: 1320px;
  margin: 50px auto 0;
  text-align: center;
}
.header-content h3 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 177px;
}
.header-content h2 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px; /* 131.944% */
  padding-top: 16px;
  padding-bottom: 177px;
}

/* main section styles */

/* holiday deal section styles */
.holiday-deal-sec {
  text-align: center;
  max-width: 802px;
  width: 100%;
  margin: 120px auto 48px;
}
.holiday-deal-sec-content h1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.holiday-deal-sec-content p {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 48px 0 16px;
}
.holiday-deal-sec-content h2 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.holiday-deal-sec-image {
  margin-top: 48px;
}

/* midnight section styles */
.midnight-section {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/midnight-party-cover.png");
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  max-width: 1320px;
  width: 100%;
  /* height: 82vh; */
  margin: 120px auto;
  text-align: center;
}
.midnight-section-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.midnight-section-content {
  text-align: left;
  padding-left: 126px;
  width: 50%;
}
.midnight-section-content h2 {
  color: #fff;
  font-family: Merriweather;
  font-size: 55px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
}
.midnight-section-content p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  padding: 24px 0;
}
.midnight-section-content button {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  background-color: transparent;
  border: none;
  padding: 24px 32px;
}
.midnight-section-image {
  width: 50%;
  padding: 68px 138px 68px 0;
}
/* .midnight-section-image img {
  mix-blend-mode: color-burn;
  color: #fff;
} */
/* location section styles */
.location-section {
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(187, 27, 27, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  width: 100%;
  /* height: 82vh; */
  max-width: 1320px;
  margin: 0 auto;
  border-radius: 16px;
  padding: 100px 0 110px;
}
.location-section span {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 175% */
  text-transform: capitalize;
}
.location-section p {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.location-section button {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  background: #f00;
  padding: 16px 32px;
  border: none;
  margin: 18px;
}

/* new year offer section styles */
.new-best-offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  width: 100%;
  /* height: 82vh; */
  max-width: 1320px;
  margin: 120px auto;
  text-align: left;
}
.new-best-offer-col {
  width: 33.33%;
}
.new-best-offer-col h3 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.new-best-offer-col h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 45px;
  font-weight: 900;
  padding: 16px 0 22px;
}
.new-best-offer-col p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  padding-bottom: 43px;
}
.new-best-offer-col h4 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 16px;
}
.new-year-center-img {
  border: 15px solid #f00;
  padding: 50px;
  border-width: 100%;
  border-radius: 463px;
}
#new-year-col-3 {
  padding-left: 118px;
}
