/* Shared styles */

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}

/* header styles */
.header-content {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Banner-image.png");
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  width: 100%;
  height: 82vh;
  max-width: 1320px;
  margin: 50px auto 0;
  text-align: center;
}
.header-content h3 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 227px;
}
.header-content h2 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px; /* 131.944% */
  padding-top: 16px;
}

/* main section styles */

/* holiday deal section styles */
.holiday-deal-sec {
  text-align: center;
  max-width: 802px;
  width: 100%;
  margin: 120px auto 48px;
}
.holiday-deal-sec-content {
  /* margin: 120px 608px 48px; */
}
.holiday-deal-sec-content h1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.holiday-deal-sec-content p {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 48px 0 16px;
}
.holiday-deal-sec-content h2 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.holiday-deal-sec-image {
  margin-top: 48px;
}

/* midnight section styles */
.midnight-section {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/midnight-party-cover.png");
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  max-width: 1320px;
  width: 100%;
  margin: 120px auto;
  text-align: center;
}
.midnight-section-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
